@use "sass:color";
@use "sass:math";

/*
https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
https://coolors.co/palette/231942-5e548e-9f86c0-be95c4-e0b1cb
https://coolors.co/palette/f08080-f4978e-f8ad9d-fbc4ab-ffdab9
https://coolors.co/palette/221526-440018-330010-07203c-030f2b
*/


/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) { */
:root.theme-dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}
/* } */

:root, :root.theme-light {
  $base-color: #efefef;
  --color-background: #{$base-color};
  --color-container-bg: #{color.scale($base-color, $lightness: -10%)};
}
// :root.theme-dark {
//   $base-color: #101010;
//   --color-background: #{$base-color};
//   /*--color-container-bg: color.scale($base-color, $lightness: +10%);*/
//   --color-container-bg: #{color.adjust(#101010, $lightness: +30%)};
//   --color-navbar-bg: #{color.adjust(#101010, $lightness: +40%)};
// }
:root.theme-dark-blue {
  $background-base: #2E2E2E;
  $text-base: #F1D5E0;

  --color-navbar-bg: #221526;
  --color-navbar-fg: #A2D2FF;
  --color-background: #{$background-base};
  
  --color-home-text: #{$text-base};

  --color-title-text: #{color.adjust($text-base, $saturation: -15%)};
  --color-desc-text: #{color.adjust($text-base, $saturation: -25%, $alpha: -0.075)};
}

@mixin nav-buttons($bg-color, $txt-color) {
  --color-post-navbut-color: #{red($bg-color)}, #{green($bg-color)}, #{blue($bg-color)};
  --color-post-navbut-alpha: #{alpha($bg-color)};
  --color-post-navbut-text: #{$txt-color};
}

:root.theme-light {
  $background-base: #eee;
  $post-bg: color.adjust($background-base, $lightness: -9%);
  $desc-bg: color.adjust($background-base, $lightness: -12%);

  --color-background: #{$background-base};
  --color-navbar-bg: #ddd;
  --color-navbar-hover-bg: #bbb;
  --color-navbar-current-bg: #c4c4c4;
  --color-navbar-txt: #222;
  --color-navbar-hover-txt: #000;
  --color-navbar-current-txt: #444;
  --color-navbar-border: #3C3C3C1E;
  --color-home-text: #4c4c4c;
  --color-post-bg: #{$post-bg};
  --color-post-desc-bg: #{$desc-bg};
  --color-post-title-txt: #333;
  --color-post-desc-txt: #181818f0;
  @include nav-buttons($bg-color: color.change($desc-bg, $alpha: 0.75), $txt-color: #000c);
}
:root.theme-dark {
  $background-base: #242424;
  $post-bg: color.adjust($background-base, $lightness: -5%);
  $desc-bg: color.adjust($background-base, $lightness: -7.5%);

  --color-background: #{$background-base};
  --color-navbar-bg: #000;
  --color-navbar-hover-bg: #282828;
  --color-navbar-current-bg: #181818;
  --color-navbar-txt: #DDD;
  --color-navbar-hover-txt: #EEE;
  --color-navbar-current-txt: #AAA;
  --color-navbar-border: #54545479;
  --color-home-text: #bbb;
  --color-post-bg: #{$post-bg};
  --color-post-desc-bg: #{$desc-bg};
  --color-post-title-txt: #fff;
  --color-post-desc-txt: rgba(185, 185, 185, 0.925);
  @include nav-buttons($bg-color: color.change($desc-bg, $alpha: 0.75), $txt-color: #fffc);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
